@font-face{
    font-family: raleway-regular;
    src: url(../fonts/raleway-regular.ttf);
    font-style: normal;
    font-weight:400px;
}
@font-face{
    font-family: montserrat-regular ;
    src: url(../fonts/monsserat/montserrat-regular.otf);
    font-style: normal;
    font-weight:400px;
}

.container {
    
}
