@font-face{
    font-family: raleway-regular;
    src: url(../fonts/raleway-regular.ttf);
    font-style: normal;
    font-weight:400px;
}
@font-face{
    font-family: montserrat-regular ;
    src: url(../fonts/monsserat/montserrat-regular.otf);
    font-style: normal;
    font-weight:400px;
}
body{
    border: 1px solid black;
    box-sizing: border-box;
}
.container {
    width: 1280px;
    margin: 0 auto;
}
.main-header{
    width: 1920px;
min-height: 1024px;
    background: url(../img/bg_photo_11949.png);
}